/*CSS colors
    Pink: #e53170
    Blue: #55b3d8
*/
/*Custom properties*/
    :root{
       
    }
/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
h1{
    color: #e53170;
    font-family: Fredoka, 'Comic Sans', cursive;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
}
h2{
    font-size: 20px;
    font-family: Fredoka, 'Comic Sans', cursive;
    font-weight: bold;
}
h3{
    font-size: 15px;
    font-family: Fredoka, 'Comic Sans', cursive;
    font-weight: lighter;
}
p{
    text-align: center;
    padding-bottom: 25px;
}
img{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
/*Utilties*/
.conteiner{
    max-width: 1000px;
    margin: 0 auto;
}
.clearfix::after{
    clear: both;
    display: table;
    content: "";
}
.colunn{
    width: calc(100% / 3);
    border: solid rgb(255, 255, 255) 11px;
    float: left;
    color: white;
    background-color: black;
}
.left_position{
    float: left;
}
.white_separator{
    border: solid white 10px;
}
.mail_color{
    color: #55b3d8;
}

